@CHARSET "UTF-8";
html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: url('bg.jpg') no-repeat -10px -10px;
	background-attachment: fixed;
	background-repeat: repeat-xy;
	position: absolute;
    z-index: -100;	
}

#beta{
	background: url('beta.png') no-repeat 0px 650px;
	background-size: 350px 280px;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -95;	
}

header {
	height: 5%;
	
}
#body {
	height: 80%;
	width: 100%;
}

#left-body {
	height: 100%;
	width: 10%; 
	float: left;
	
}

#center-body {
	height: 100%;
	width: 80%;
	float: left;
}
#ws {

	background: url('ws.png') no-repeat;
	background-size: 80% 78%;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -90;
}

#right-body {
	height: 100%;
	width: 10%;
	float: left;
}

footer {
	height: 15%;
	width: 100%;
}

#left-footer {
	height: 100%;
	width: 19%;
	float: left;
	background: url('b.png') no-repeat 0px 8px;
	background-size: 50% 75%;

}
#center-footer {
	height: 100%;
	width: 62%;
	float: left;
	text-align: center;
}
#right-footer {
	height: 100%;
	width: 19%;
	float: left;
}
#tab{
	background: url('icon4.png') no-repeat center;
	background-size: 40px 40px;
	 width: 40px;
     height: 40px;
      position: absolute;
      right: 5.6%;
       bottom: 17.5%;
      cursor: pointer;
     
}
#login{
	background: url('in.png') no-repeat center;
	background-size: 33px 27px;
	 float:left;
	 width: 40px;
     height: 40px;
     left:79px;
     top:0px;
     position: absolute;
     opacity: 0;
     transition-duration: 1s;
}

#logout
{
	background: url('out.png') no-repeat center;
	background-size: 33px 27px;
	 float:left;
	 width: 40px;
     height: 40px;
     left:78px;
     top:0px;
     position: absolute;
     opacity: 0;
     transition-duration: 1s;
}

#my{
	
	background: url('icon3.png') no-repeat center;
	background-size: 27px 27px;
	 float:left;
	 width: 50px;
     height: 50px;
     left:70px;
     top:0px;
     position: absolute;
     opacity: 0;
     transition-duration: 1s;
}

#home{
	background: url('icon2.png') no-repeat center;
	background-size: 40px 40px;
	 float:left;
	 width: 40px;
     height: 40px;
     left:75px;
     top:40px;
     position: absolute;
     opacity: 0;
     transition-duration: 1s;
}

#menu{
	background: url('menu.png') no-repeat center;
	background-size: 30px 30px;
	 float:left;
	 width: 40px;
     height: 40px;
     left:75px;
     top:45px;
     position: absolute;     
     cursor: pointer;
     z-index: 300;
     
}