<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<link href="../content/css/reset.css" style="text/css" rel="stylesheet">
<link href="logindetail.css" style="text/css" rel="stylesheet">

</head>
<body>
	<div id="beta"></div>
	<header></header>
	
	<div id="body">
		<div id="left-body"></div>
		<div id="center-body">
			<div id="box">
				<div id="left"></div>
				<div id="center">
				<div id="one"><input type="text" id="t"></div>
				<div id="two"><input type="text" id="t"></div>
				<div id="three"><input type="text" id="t"></div>
				<div id="four"><input type="checkbox">Male
				<input type="checkbox">Female</div>
				<div id="five"><input type="text" id="t"></div>
				<div id="six"><select id="nation">
				<option>nation</option>
				<option>Korea</option>
				<option>USA</option>
				<option>China</option>
				<option>Japan</option>
				</select></div>
				<div id="seven"><input type="text" id="t"></div>
				<div id="eight"><input type="text" id="t"></div>
				<div id="nine"><input type="text" id="t"></div>
				<div id="ten">
				<a href="login.html"><input type="button" value="CREATE ACCOUNT" id="button" ></a>
				</div>
				</div>
				<div id="right"></div>
				<div id="ws"></div>
			</div>
		</div>
		<div id="right-body"></div>
	</div>
	<footer>

		<div id="left-footer"></div>
		<div id="center-footer">
			<small>Copyright © 2015 AQUA ESU ALL Rights Reserved</small>
		</div>
		<div id="right-footer"></div>
	</footer>
</body>
</html>