<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AQUA ESU</title>
<link href="HomeStyle.css" style="text/css" rel="stylesheet">
<link href="../CSS/reset.css" style="text/css" rel="stylesheet">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		var audio;
		audio = new Audio("sonata.mp3");
		audio.volume = 0.5;
		audio.loop = true;
		audio.play();
	});
</script>
</head>
<body>
	<div class="item" id="item1">
		<div class="bgImage"></div>
	</div>
	<div class="container">
		<ul>
			<li>
				<div class="item" id="item3">
					<div class="bgImage2"></div>
				</div>
				<div class="item" id="item2">
					<div class="bgImage"></div>
				</div>
			</li>
		</ul>
	</div>
	<header></header>
	<div id="logo-box">
		<a href="Menu.html"><div id="logo"></div></a>
	</div>
	<div id="footer">
		<small>Copyright © 2015 AQUA ESU ALL Rights Reserved</small>
	</div>
</body>
</html>