@CHARSET "UTF-8";
html, body {
   height: 100%;
   width: 100%;
   overflow: hidden;
   background: url('bg.jpg') no-repeat -10px -10px;
   background-attachment: fixed;
   background-repeat: repeat-xy;
   position: relative;
	z-index:-300;
}

#beta{
   background: url('beta.png') no-repeat 800px 400px;
   background-size: 530px 590px;
   width: 100%;
   height: 100%;
   position: absolute;
	z-index:-200;
   
}

header {
   height: 5%;
   
}

#body {
   height: 80%;
   width: 100%;
   position: relative;
	z-index:-190;
}

#left-body {
   height: 100%;
   width: 10%; 
   float: left;
   background: url('aa.png') no-repeat -10px 0px;
   background-size: 2% 2%;
}

#center-body {
position:relative;	
   height: 100%;
   width: 80%;
   float: left;
   z-index:-100;
}

#right-body {
   height: 100%;
   width: 10%;
   float: left;
}

footer {
   height: 15%;
   width: 100%;
}

#left-footer {
   height: 100%;
   width: 19%;
   float: left;
   background: url('menu-icon.png') no-repeat 0px 2px;
   background-size: 53% 77%;
   
}
#center-footer {
   height: 100%;
   width: 62%;
   float: left;
   text-align: center;
}
#right-footer {
   height: 100%;
   width: 19%;
   float: left;
}

#ws {

	background: url('ws.png') no-repeat;
	background-size: 100% 97.3%;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index:-80;
}



#header {
	position:absolute;
	float:left;
	top:10px;
	left:10px;
	height:55px;
	width:1004px;
	background:#FFDE6B;
	z-index:-50;	
}


#s{	
	position:absolute;
	float:left;
	left:10px;
	top:10px;
	width:300px;
	height:30px;	
	line-height:30px;
	font-weight: bold;
	text-indent: 5px;
	z-index:-20;
}
#b
{
	position:absolute;
	float:left;
	left:320px;
	top:10px;
	width:50px;
	height:34px;
	background:url('그림1.jpg') no-repeat center;
	background-size:50px 34px;
	text-indent:-999px; /* 글자 밀어내기 */
	cursor:pointer;
	border:1px solid black;
	z-index:-20;	
}
#w
{
	position:absolute;
	float:left;
	left:375px;
	top:10px;
	width:50px;
	height:34px;
	background:url('그림2.png') no-repeat center;
	background-size:50px 34px;
	text-indent:-999px; /* 글자 밀어내기 */
	cursor:pointer;
	border:1px solid black;
	z-index:-20;
}

#body2{
	position:absolute;
	z-index:-3;
	float:left;
	left:10px;
	top:65px;
	background:#FFD016;
	width:1004px;
	height:635px;
	overflow:hidden;
}

#tab{
	background: url('icon4.png') no-repeat center;
	background-size: 40px 40px;
	width: 40px;
    height: 40px;
    position: absolute;
    right: 5.6%;
    bottom: 3%;
    cursor: pointer;
     
}
