@CHARSET "UTF-8";
html, body {
   height: 100%;
   width: 100%;
   overflow: hidden;
   background: url('site.jpg') no-repeat -10px -10px;
   background-attachment: fixed;
   background-repeat: repeat-xy;
   position: absolute;
   z-index: -100;
}


header {
   height: 5%;
   
}

#body {
   height: 80%;
   width: 100%;
   position:relative;
   z-index:-200;
}

#left-body {
   height: 100%;
   width: 10%; 
   float: left;
   background: url('menu-icon.png') no-repeat -10px 0px;
   
   background-size: 2% 2%;
}

#center-body {
   height: 100%;
   width: 80%;
   float: left;
   background: url('redboard.png') no-repeat;
   background-size: contain;
}

#right-body {
   height: 100%;
   width: 10%;
   float: left;
}
#center-body1{
	width: 80%;
	height: 100%;
	float: left;
}
#center-body2{
	width: 17%;
	height: 88.5%;
	position: relative;
	margin-top: 2.4%;
	margin-right: 3%;
	float: left;
	
}
#center_1{
	width: 96.6%;
	height: 10%;
	margin-top: 3%;
	margin-left: 3%;
}
#center_2{
	width: 96.6%;
	height: 20%;
	margin-left: 3%;
	
}
#text1{
	
	width: 100%;
	height: 100%;
}
#center_3{
	width: 96.6%;
	height: 58.5%;
	margin-left: 3%;
	margin-bottom: 3%
}
#center_4{
	margin-top:5px;
	margin-left:5px;
	width: 100%;
	height: 90%;
}
footer {
   height: 15%;
   width: 100%;
}

#left-footer {
   height: 100%;
   width: 19%;
   float: left;
   background: url('site.png') no-repeat 5px 5px;
}
#center-footer {
   height: 100%;
   width: 62%;
   float: left;
   text-align: center;
}
#right-footer {
   height: 100%;
   width: 19%;
   float: left;
}

#icon1{
	background: url('icon1.png') no-repeat 70px 20px;
	 
	 width: 8.4%;
     height: 6%;
     position: absolute;
	
}
#icon2{
	background: url('icon2.png') no-repeat 63px 60px;
	 float:none;
	 width: 100%;
     height: 100%;
     position: absolute;
	
}
#icon3{
	background: url('icon3.png') no-repeat 69px 120px;
	 float:none;
	 width: 100%;
     height: 100%;
     position: absolute;
	
}
#icon4{
	background: url('icon4.png') no-repeat 10px 670px;
	 float:none;
	 width: 100%;
     height: 100%;
     position: absolute;
	
}

#music{
	background: url('music.png') no-repeat 10px 17px;
	 float:none;
	 width: 100%;
     height: 100%;
     position: absolute;
	
}

#beta{
   background: url('redfish.png') no-repeat 0px 200px;
   background-size: 550px 450px;
   width: 100%;
   height: 100%;
   position: absolute;
   margin-left: 700px;
    margin-top: 200px;
    z-index: -101;
}
