@CHARSET "UTF-8";

html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: url('bg1.jpg') no-repeat -10px -10px;
	background-attachment: fixed;
	background-repeat: repeat-xy;
	z-index: -100;
	position: absolute;
}

#beta {
	background: url('beta.png') no-repeat -160px 360px;
	background-size: 770px 720px;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -90;
}


header {
	height: 5%;
}

#body {
	height: 80%;
	width: 100%;
}

#left-body {
	height: 100%;
	width: 20%;
	float: left;
	
}

#center-body {
	height: 100%;
	width: 60%;
	float: left;
}

#ws {
	background: url('ws1.png') no-repeat;
	background-size: 60% 78%;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -80;
}

#right-body {
	height: 100%;
	width: 20%;
	float: left;
}

footer {
	height: 15%;
	width: 100%;
}

#left-footer {
	height: 100%;
	width: 19%;
	float: left;
	
}

#center-footer {
	height: 100%;
	width: 62%;
	float: left;
	text-align: center;
}

#right-footer {
	height: 100%;
	width: 19%;
	float: left;
}

#up {
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 2%;
	width: 98%;
	height: 48%;
}

#down {
	width: 98%;
	height: 47%;
	margin-left: 1%;
	margin-right: 2%;
}

#up-right {
	width: 50%;
	height: 100%;
	background: url("g.png") no-repeat -25px 23px;
	background-size: 370px 313px;
	float: left;
}
#up-right:hover {
	width: 50%;
	height: 100%;
	background: url("g2.png") no-repeat -25px 23px;
	background-size: 370px 313px;
	float: left;
}
#up-left {
	width: 50%;
	height: 100%;
	background: url("b.png") no-repeat -30px -10px;
	background-size: 415px 370px;
	float: left;
}
#up-left:hover
{
	width: 50%;
	height: 100%;
	background: url("b2.png") no-repeat -30px -10px;
	background-size: 415px 370px;
	float: left;
}
#down-right {
	width: 50%;
	height: 100%;
	background: url("o.png") no-repeat -14px -2px;
	background-size: 390px 367px;
	float: left;
}
#down-right:hover
{
	width: 50%;
	height: 100%;
	background: url("o2.png") no-repeat -14px -2px;
	background-size: 390px 367px;
	float: left;
}
#down-left {
	width: 50%;
	height: 100%;
	background: url("r.png") no-repeat -12px 20px;
	background-size: 352px 310px;
	float: left;
}
#down-left:hover {
	width: 50%;
	height: 100%;
	background: url("r2.png") no-repeat -12px 20px;
	background-size: 352px 310px;
	float: left;
}
#login{
	background: url('in.png') no-repeat center;
	background-size: 33px 27px;
	 float:left;
	 width: 40px;
     height: 40px;
     left:16.3%;
     top:40px;
     position: absolute;
     opacity: 0;
     transition-duration: 1s;
}

#logout
{
	background: url('out.png') no-repeat center;
	background-size: 33px 27px;
	 float:left;
	 width: 40px;
     height: 40px;
     left:16.25%;
     top:40px;
     position: absolute;
     opacity: 0;
     transition-duration: 1s;
}

#my{
	
	background: url('icon3.png') no-repeat center;
	background-size: 27px 27px;
	 float:left;
	 width: 50px;
     height: 50px;
     left:15.6%;
     top:40px;
     position: absolute;
     opacity: 0;
     transition-duration: 1s;
}

#home{
	background: url('icon2.png') no-repeat center;
	background-size: 40px 40px;
	 float:left;
	 width: 40px;
     height: 40px;
     left:16%;
     top:40px;
     position: absolute;
     opacity: 0;
     transition-duration: 1s;
}

#menu{
	background: url('menu.png') no-repeat center;
	background-size: 30px 30px;
	 float:left;
	 width: 40px;
     height: 40px;
     left:16%;
     top:5%;
     position: absolute;
     
     cursor: pointer;
     z-index: 300;
     
}

#tab{
	background: url('icon4.png') no-repeat center;
	background-size: 40px 40px;
	 width: 40px;
     height: 40px;
      position: absolute;
      right: 15.6%;
      bottom: 17.5%;
      cursor: pointer;
     
}